:root {
    --black : #000000;
    --dark-grey : #2a2a2a;
    --red : #e23d3d;
    --white : #ffffff;
}

@font-face {
    font-family: 'header';
    src: url(../fonts/ReggaeOne-Regular.ttf);
}
@font-face {
    font-family: 'sub';
    src: url(../fonts/CinzelDecorative-Regular.ttf);
}

* {
    font-family: 'sub';
}